Html{
    font-size: 18px;
    
    
}
body{
    font-family: 'Aboreto', cursive;
    background-image: url("../image/alexander-videnov-am7TTMSpT_k-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, left top;
    z-index: -1;
   /* color: aliceblue;*/

}
.bodyContainer{
margin: .2rem auto;
}

.card {
    color: black;
}

footer p{
    color: white;
}

.nav-link{
    text-decoration: none;
    color: white;
}

